<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <appSettings>
    <add key="gr.opap.applications.DrawQueriesServiceImplService" value="http://applications.opap.gr/DrawsQueryServices/services/DrawQueriesServiceImplPort"/>
    <add key="org.oorsprong.www.CountryInfoService" value="http://www.oorsprong.org/websamples.countryinfo/CountryInfoService.wso"/>
    <add key="com.cdyne.ws.ip2geo" value="http://ws.cdyne.com/ip2geo/ip2geo.asmx"/>
  <add key="com.cdyne.ws.Emailvernotestemail" value="http://ws.cdyne.com/emailverify/Emailvernotestemail.asmx"/>
  </appSettings>
</configuration>